@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* CSS RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


img {
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;

}


/* TYPOGRAPHY */

html {
    font: 16px/1.5 "Montserrat", sans-serif;
}

body,
form,
input,
textarea,
option,
select,
button {
    font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding-bottom: 0.5rem;
    padding-top: 1.5rem;
    font-weight: normal;
}

h1 {
    font-size: 2.6em;
}

h2 {
    font-size: 2.0em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1.0em;
}

/* LAYOUT */

body {
    min-height: 100vh;
    position: relative;
    margin: auto;
}

.container {
    width: 80%;
    margin: auto;
    padding-bottom: 3em;
}