@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");


.details {
    display: flex;
    flex-direction: column;
    margin-top: 4em;
    gap: 2em;
    color: #333333e6;
    margin-bottom: 3em;

}


.loading {
    display: flex;
    justify-content: center;
    align-items: center;
}


.details .media {
    flex: 1 1 30%;
    display: flex;
    justify-content: center;
}

.details .media img {
    max-width: 300px;
}

.details .info {
    flex: 1 1 60%;
    padding: 0 1em;
    border: 2px solid #f68235;
    border-radius: 0.3em;
    background-color: #f6f5f5;
}


.info h3 {
    text-align: center;
    font-weight: bold;
    max-width: 50ch;
    word-wrap: break-word;
    margin: 0 auto;
}


.info p {
    max-width: 50ch;
    word-wrap: break-word;
    text-align: center;
    margin: 0 auto;
}

.icons {
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
}

.icons p {
    padding: 1em;
}



.instructions {
    display: flex;
    flex-direction: column;
    margin-bottom: 8em;
    color: #333333e6;
    border: 2px solid #f68235;
    border-radius: 0.3em;
    background-color: #f6f5f5;
    gap: 1em;
}


.instructions ul li {
    padding: 0.2em;
}


.instructions h4 {
    font-weight: bold;
}


.instructions .ingredients {
    flex: 1 1 40%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.instructions .steps {
    flex: 1 1 40%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.instructions .steps ul {
    list-style: decimal;
}


.buttons {
    margin-bottom: 3em;
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3em;
    align-items: center;
}


.buttons button {
    background-color: #f68235;
    color: white;
    border-radius: 0.3em;
    border-color: #f68235;
    padding: 0.2em 1.2em;
}


.buttons button:hover {
    text-shadow: 0 0 5px #ffffff;
    transition: all 0.2s ease-in;
    cursor: pointer;
}


@media (min-width:1100px) {
    .details {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .icons {
        flex-direction: row;
    }


    .instructions {
        flex-direction: row;
        max-width: 70%;
    }


}


@media (min-width:1200px) {
    .details {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .icons {
        flex-direction: row;
        justify-content: center;
    }

    .instructions {
        flex-direction: row;
        flex-wrap: nowrap;
    }

}


@media (min-width:1300px) {
    .details .media {
        justify-content: flex-start;
    }


    .details .media img {
        max-width: 400px;
    }

}