<div class="container">
    <div class="details">
        <div class="media">
            <img src="{{recipe.img}}" alt="">
        </div>
        <div class="info" *ngIf="!isLoading">
            <h3>{{recipe.name}}</h3>
            <p>{{recipe.description}}</p>
            <div class="icons">
                <p><i class="fa-solid fa-clock fa-xl"></i> {{recipe.time}} mins</p>
                <p><i class="fa-solid fa-kitchen-set fa-xl"></i> {{recipe.difficulty}}</p>
                <p><i class="fa-solid fa-utensils fa-xl"></i> {{recipe.servings}} people</p>
            </div>
        </div>
    </div>

    <div class="loading">
        <app-loader *ngIf="isLoading"></app-loader>
    </div>

    <div class="instructions" *ngIf="!isLoading">
        <div class="ingredients">
            <h4>Ingredients</h4>
            <ul>
                <li *ngFor="let igredient of recipe.ingredients">{{igredient}}</li>
            </ul>
        </div>
        <div class="steps">
            <h4>Cooking Steps</h4>
            <ul>
                <li *ngFor="let step of recipe.steps">{{step}}</li>
            </ul>
        </div>
    </div>

    <div class="buttons" *ngIf="isOwner">
        <button class="edit">Edit</button>
        <button class="delete" (click)="deleteRecipe()">Delete</button>
    </div>


</div>