<header>
    <section class="site-header">
        <p class="logo"><a routerLink="/home">RecipeBook.</a></p>
    </section>
    <nav *ngIf="isLogged">
        <ul>
            <li>
                <a routerLink="/recipes">Recipes</a>
            </li>
            <li>
                <a routerLink="/profile">Profile</a>
            </li>
            <li>
                <a href="">Log out</a>
            </li>
        </ul>
    </nav>
    <nav *ngIf="!isLogged">
        <ul>
            <li>
                <a routerLink="/recipes">Recipes</a>
            </li>
            <li>
                <a routerLink="/login">Login</a>
            </li>
            <li>
                <a routerLink="/register">Register</a>
            </li>
        </ul>
    </nav>

</header>