<div class="container">
    <!-- <app-welcome-msg></app-welcome-msg> -->
    <div class="banner site">
        <h1>Calling all culinary creators! </h1>
        <p>Share the love, the flavor, and the joy of cooking by submitting your recipe to <span>RecipeBook</span>
            today.</p>
        <button routerLink="/add-recipe">Submit Recipe</button>
    </div>
    <div class="cards-wrapper">
        <div class="title-wrapper">
            <h2 class="title">All Recipes</h2>
        </div>
        <app-loader *ngIf="isLoading"></app-loader>
        <div class="cards">
            <div class="card" *ngFor="let recipe of recipes">
                <div class="media">
                    <a [routerLink]="recipe._id">
                        <img *ngIf="recipe.img.length > 1" src={{recipe.img}} alt="">
                        <img *ngIf="recipe.img < 1" src='../../assets/no-image.jpg' alt="">
                    </a>
                    <p class="category">{{recipe.category}}</p>
                </div>
                <div class="recipe-title">
                    <p>{{recipe.name}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="load-more">
        <button (click)="loadMore()">Load More</button>
    </div>
</div>