<main>
    <div class="banner site">
        <h1>Your favourite recipes <br> in one place for <span>free.</span></h1>
        <p>Discover delicious new recipes that inspire your menus.</p>
    </div>

    <div class="cards-wrapper">
        <div class="title-wrapper">
            <h2 class="title">Top Recipes</h2>
        </div>
        <div class="cards">
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
        </div>
    </div>
</main>