<div class="container">
    <div class="banner site">
        <h1>Your favourite recipes <br> in one place for <span>free.</span></h1>
        <p>Discover delicious new recipes that inspire your menus.</p>
    </div>

    <div class="cards-wrapper">
        <div class="title-wrapper">
            <h2 class="title">Top Recipes</h2>
        </div>
        <app-loader *ngIf="isLoading"></app-loader>
        <div class="cards">
            <div class="card" *ngFor="let recipe of recipes">
                <div class="media">
                    <img *ngIf="recipe.img.length > 1" src={{recipe.img}} alt="">
                    <img *ngIf="recipe.img < 1" src='../../assets/no-image.jpg' alt="">
                    <p class="category">{{recipe.category}}</p>
                </div>
                <div class="recipe-title">
                    <p>{{recipe.name}}</p>
                </div>
            </div>
        </div>
    </div>
</div>